version: "3"

services:
  rabbit:
    hostname: "rabbit"
    restart: always
    image: rabbitmq:3-management
    volumes:
      - ${RABBIT_DIR}/timeout.conf:/etc/rabbitmq/conf.d/timeout.conf
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 30s
      timeout: 30s
      retries: 3

  storescp:
    hostname: "storescp"
    restart: always
    ports:
      - "10000:10000"
    image: mathiser/dicom_flow-storescp

  fingerprinter:
    hostname: "fingerprinter"
    restart: always
    image: mathiser/dicom_flow-fingerprinter
    volumes:
      - ${FLOWS_DIR}:/opt/RadDeploy/fingerprinter/flows

  scheduler:
    hostname: "scheduler"
    restart: always
    image: mathiser/dicom_flow-scheduler

  consumer:
    hostname: "consumer"
    restart: always
    image: mathiser/dicom_flow-consumer
    environment:
      #- GPUS=0
      - CPUS=1
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

  storescu:
    hostname: "storescu"
    restart: always
    image: mathiser/dicom_flow-storescu

  flow_tracker:
    hostname: "flow-tracker"
    restart: always
    image: mathiser/dicom_flow-flow_tracker
    volumes:
      - ${FLOWTRACKER_DIR}:/opt/RadDeploy/flow_tracker/database:rw
    networks:
     - raddeploy_network

  file_storage:
    hostname: "file-storage"
    restart: always
    image: mathiser/dicom_flow-file_storage
    volumes:
      - ${STATIC_DIR}:/opt/RadDeploy/file_storage/static:ro
